<div class="sigup-form">
    <div class="product_speci">
        <button (click)="closeLogin()" class="remove_product" ><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 3.752l-4.423-3.752-7.771 9.039-7.647-9.008-4.159 4.278c2.285 2.885 5.284 5.903 8.362 8.708l-8.165 9.447 1.343 1.487c1.978-1.335 5.981-4.373 10.205-7.958 4.304 3.67 8.306 6.663 10.229 8.006l1.449-1.278-8.254-9.724c3.287-2.973 6.584-6.354 8.831-9.245z"/></svg></span></button>
      </div>
    <h2>
      SIGN IN
    </h2>
    
  
    <form [formGroup]="login" (ngSubmit)="onSubmit()" >
      <ul>
  <li class="form-elements"><input type="email" placeholder="EMAIL ADDRESS" formControlName= "email" name="email" [ngClass]="{'error': !login.get('email').valid && login.get('email').touched}"></li>
  <li class="form-elements"><input type="password" placeholder="PASSWORD" formControlName= "password" name="password" [ngClass]="{'error': !login.get('password').valid && login.get('password').touched}"></li>
  </ul>
  <div class="sign_in">
  <button>Sign In</button>
  
  </div>
    </form>
    
    <div class="login-link">
      <h4>Don't have a Account?<span style="color:cadetblue; margin-left: 5px;cursor: pointer;" (click) = " openSignup()">SIGN UP</span></h4>
    </div>
  </div>
  