/* @font-face {
    font-family: 'Poppins-Medium', sans-serif;
    src: url(../../../src/assets/fonts/Poppins-BlackItalic.otf);
  } */
  .sigup-form{
      background-color: rgba(214, 214, 213, 0.3);
      box-shadow: 0px 2px 4px rgba(0,0,0,0.16);
      border-radius: 5px;
      font-family: 'Poppins-Medium', sans-serif;
      
      max-width: 100%;
      padding: 20px;
    }
    .sigup-form h2, .sigup-form p{
      padding: 0 10px;
      text-align: center;
      margin-top: auto;
    }
    .sigup-form p{
      margin-top: -15px;
      font-size: 12px;
    }
    .lognwith_links
    {
      text-align: center;
      width: 85%;
    }
    ul{
      width: 80%;
      margin: 0 auto;
      list-style-type: none;
    }
    .first-field{
      display: flex;
      width: 100%;
    }
    li{
      width: 100%;
      margin: 0;
      padding: 0;
    
    }
    .form-elements{
      margin-left: -40px;
    }
    li input{
     margin-top: 10px;
    }
    input{
      height: 5vh;
      padding: 0 20px;
      width: 100%;
      box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.16);
      border: none;
      outline: none;
    }
    .first-field .Uname{
      width: 44%;
      margin-left: -40px;
    
    }
    .first-field .Ulocation{
      position: relative;
      width: 50%;
      height: 5.5vh;
      margin-left: 70px;
      margin-top: 10px;
    }
    .first-field .Ulocation select{
      width: 100%;
      box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.16);
      border: none;
      height: 100%;
      outline: none;
    }
    .sigup-form button{
      width: 30%;
      height: 6vh;
      margin-left: 25px;
      margin-top: 20px;
      border-radius: 10px;
      border: none;
    }
   
    .social_icon_signup{
      width: 50%;
      height: 6vh;
      display: flex;
      margin: 0 auto;
      margin-top: -20px;
    }
    .social_icon{
      width: 32%;
      margin-left: 5px;
    }
    .social_icon img{
      width: 50px;
      height: 50px;
    }
    #linkdin_img
    {
      width: 35px;
        height: 35px;
        margin-top: 10%;
    }
    .login-link{
      width: 70%;
      margin: 0 auto;
      height: 3vh;
      margin-top: 10px;
    }
    .login-link h4{
      text-align: center;
      margin-bottom: auto;
      font-size:12px;
    }
    .error{
      border: 1px solid red;
    }
    .errorMsg{
      font-size: 10px;
    }
    .sign_up
    {
    text-align: center;
    width: 85%;
    }
    .sign_up button
    {
      background-color: black;
      border: none;
      outline: none;
      width: 60%;
      color: white;
      font-size: 14px;
      margin-top: 3%;
      border-radius: 3px;
      padding: 10px;
      box-shadow: 0px 2px 10px 0px #5555;
      margin-bottom: 8%
    }
    .product_speci
    {
      text-align: right;
    }
    .remove_product
    {
      margin-top: -20px !important;
      position: relative;
      border: none;
      top: 3.5px;
      width: 0% ! important;
      background-color: transparent;
      left: -24.3px;
      outline: none;
    
    }
    .remove_product svg
    {
      /* background-color:white; */
     /* fill: #ef0707; */
     width: 18px;
    }
    .login-divider {
      text-align: center;
      font-size: 17px;
      margin-left: -35px;
      color: #171616;
      margin-top: 10px;
      margin-bottom: 12px;
    }
    .login-divider .login-line:first-child {
      float: left;
    } 
    .login-divider .login-line {
      border-bottom: 1px solid #171616;
      
      width: 43%;
      margin-top: 10px
    }
    .login-divider .login-line:last-child {
      float: right;
    }
    @media screen and (min-width: 320px) and (max-width: 700px){
      .sigup-form{
        border: none;
        padding: 10px;
        margin: 0;
      }
    }
    
  
  
    